.main{
    margin-top: 100px;
    padding: 40px;
    background-color: black;
    width: 250px;
    height: 450px;
    border: 0px solid;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.max-score{
    color: rgb(20, 137, 227);
}
.min-score{
    color: red;
}
.btn-green{
    border: 0px solid;
    border-radius: 100%;
    background-color: green;
    padding : 20px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn-red{
    margin-left: 15px;
    border: 0px solid;
    border-radius: 100%;
    background-color: red;
    padding : 20px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.limit{
    color: rgb(237, 230, 51);
}
.up{
    height: 30px;
}
.btns{
    display: flex;
}